
.shownBook {
    background-color: lightblue;
    border: 2px solid black;
    margin: 5px;
    padding: 5px 8px 5px 5px;
    height: 80px;
    width: 300px;
    word-wrap: normal;
    display: flex;
    flex-direction: row;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 76px;
    align-content: space-between;
}

.removeButton {
    width: 80px;
    height: 40px;
    padding: 4px;
    margin: 4px;
}

.readButton {
    width: 80px;
    height: 30px;
    padding: 4px;
    margin: 4px;
}